@model Project_Flow_Manager_Models.Innovation

<a asp-action="Index" asp-controller="Home" class="link-back">Back</a>

<h1>Innovation Submission</h1>
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="5" class="form-control-textarea"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessDuration" class="control-label"></label>
                <input asp-for="ProcessDuration" class="form-control" />
                <span asp-validation-for="ProcessDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeopleIncluded" class="control-label"></label>
                <input asp-for="NumberOfPeopleIncluded" class="form-control" />
                <span asp-validation-for="NumberOfPeopleIncluded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessType" class="control-label"></label>
                <select asp-for="ProcessType" class="form-control">
                @if(ViewBag.ProcessTypes != null)
                {
                    @foreach(var item in ViewBag.ProcessTypes)
                    {
                        <option value="@item">@item</option>
                    }
                }
                </select>
                <span asp-validation-for="ProcessType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                @foreach(var item in ViewBag.StatusOptions)
                {
                    <option value="@item">@item</option>
                }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredDate" class="control-label"></label>
                <input asp-for="RequiredDate" class="form-control" />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
