@model Project_Flow_Manager_Models.Innovation

<a asp-action="Index" asp-controller="Innovations" class="link-back">Back</a>

<h1>Innovation Submission</h1>
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeopleIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeopleIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessSteps)
        </dt>
        <dd class="col-sm-10">
                <a asp-action="AddProcessStep" asp-route-innovationId="@Model.Id"><i class="fa-solid fa-plus"></i></a>
        </dd>
        @if(Model.ProcessSteps.Count() > 0)
        {
            @foreach(var item in Model.ProcessSteps)
            {
                <div class="row">
                    <dd class = "col-sm-2"></dd>
                    <dd class = "col-sm-3">
                        @string.Concat(item.OrderPosition,". ",item.Value)
                    </dd>
                    <dd class = "col-sm-2">
                        <a asp-action="EditProcessStep" asp-route-id="@item.Id" asp-route-innovationId="@Model.Id"><i class="fa-solid fa-pen-to-square"></i></a>|
                        <a asp-action="DeleteProcessStep" asp-route-id="@item.Id" asp-route-innovationId="@Model.Id"><i class="fa-solid fa-trash-can"></i></a>
                    </dd>
                    <dd class = "col-sm-5"></dd>
                </div>
            }
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedBy)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-arrow" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
