@model IEnumerable<Project_Flow_Manager_Models.Recommendation>

<a asp-action="Index" asp-controller="Home" class="link-back">Back</a>

<h1>@ViewData["Title"]</h1>

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Effort)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                        @if(item.Effort != null)
                        {
                            @item.Effort.DisplayEffort()
                        }
                        else
                        {
                            @Html.DisplayName("No effort recorded")
                        }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if(ViewBag.AssessmentCount > 0)
{
    <div role="note" aria-label="Information" class="text-highlight  text-highlight--blue">
        <p>There are currently no recommendations submitted.</p>
    </div>
}
else
{
    <div role="note" aria-label="Information" class="text-highlight  text-highlight--blue">
        <p>There are currently no assessments requiring recommendations.</p>
    </div>
}