@model Project_Flow_Manager_Models.Recommendation

@{
    var projectAssessmentReportId = ViewData["ProjectAssessmentReportId"];
}

<a asp-action="Details" asp-controller="ProjectAssessmentReports" asp-route-id="@projectAssessmentReportId" class="link-back">Back</a>

<h1>Recommendations</h1>
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
</div>