@model Project_Flow_Manager_Models.TechnologyResource

@{
    var resourceRequestId = @ViewData["ResourceRequestId"];
}

<a asp-action="Details" asp-controller="ResourceRequests" asp-route-id="@resourceRequestId" class="link-back">Back</a>

<h1>Resourcing</h1>
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTechnologyResource">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="form-label"></label>
                <select asp-for="ProductName" class="form-control">
                    <option value = null>Select an option...</option> 
                    @if(ViewBag.TechnologyOptions != null)
                    {
                        @foreach(var item in ViewBag.TechnologyOptions)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <input type="hidden" id="resourceRequestId" name="resourceRequestId" value="@resourceRequestId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>