@model IEnumerable<Project_Flow_Manager_Models.ResourceRequest>

<a asp-action="Index" asp-controller="Home" class="link-back">Back</a>

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary btn-arrow" asp-action="Create">Create new</a>
</p>

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectAssessmentReportId)
                    </th>
                    <th>
                        Total Hours
                    </th>
                     <th>
                        @Html.DisplayNameFor(model => model.Teams)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var totalHours = item.TotalHours();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectAssessmentReportId)
                        </td>
                        <td>
                            @totalHours
                        </td>
                        <td>
                            @foreach(var team in item.Teams)
                            {
                                @String.Concat(team.Team.Name, " for ", team.Hours, " hours");
                                <br />
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div role="note" aria-label="Information" class="text-highlight  text-highlight--blue">
        <p>Currently no resourcing requests.</p>
    </div>
}